## Power Management with Dynamic Frequency Scaling (DFS) and Automatic Light Sleep
#
# See sw-impl-pwr-mgmt.md, sec. "Automatic Power Management"
# The options ESP_DEFAULT_CPU_FREQ_MHZ_96 and PM_DFS_INIT_AUTO are currently not optimized for low-power consumption
# due to bug https://github.com/espressif/esp-idf/issues/19001

CONFIG_PM_ENABLE=y
CONFIG_FREERTOS_USE_TICKLESS_IDLE=y
CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ_96=y
CONFIG_PM_DFS_INIT_AUTO=n

## Deep Sleep
#
# See sw-impl-pwr-mgmt.md, sec. "Automatic Deep Sleep"

CONFIG_BOOTLOADER_SKIP_VALIDATE_IN_DEEP_SLEEP=y
CONFIG_LIBC_TIME_SYSCALL_USE_RTC_HRT=y
CONFIG_RTC_CLK_SRC_INT_RC=y
CONFIG_PM_LIGHT_SLEEP_CALLBACKS=y

## Prefer Using RAM over Flash
#
# See sw-impl-pwr-mgmt.md, sec. "Prefer Using RAM ver Flash"

CONFIG_PM_SLEEP_FUNC_IN_IRAM=y
CONFIG_PM_SLP_IRAM_OPT=y
CONFIG_PM_RTOS_IDLE_OPT=y
CONFIG_FREERTOS_IN_IRAM=y
CONFIG_GPIO_CTRL_FUNC_IN_IRAM=y

## Disabling Hardware During Light Sleep
#
# See sw-impl-pwr-mgmt.md, sec. "Disabling Hardware During Light Sleep"

CONFIG_PM_SLP_DISABLE_GPIO=y
CONFIG_ESP_SLEEP_POWER_DOWN_FLASH=y
